.reg-auth {

  &__background {
    background: $color-background-auth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  &__title {
    @include font($size: 3.2rem, $weight: 700, $height: 4.0rem);
    color: $color-light;

    @include media-mobile {
      @include font($size: 1.8rem, $height: 2.8rem, $weight: 700)
    }
  }

  &__input {
    width: 416px;
    height: 56px;
    border: 0;
    padding: 26px 12px 12px;
    color: $color-text;
    @include font();
    background: #F9F9FA;
    border-radius: 4px;
    border-bottom: 1px solid #BFC4C9;

    @include media-tablet-small {
      width: 300px;
    }
    @include media-mobile {
      width: 256px;
    }


    &:first-child {
      // margin-top: 32px;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    text-transform: uppercase;
    margin-top: 32px;
    @include font($size: 1.6rem, $height: 150%, $weight: 600);
    padding: 14px 0;
    border-radius: 30px;

    @include media-tablet-small {
      padding: 11px 0;
    }
    @include media-mobile {
      @include font($size: 1.2rem, $height: 1.8rem, $weight: 600);
    }
  }

  &__error-hint {
    padding: 2px 12px;
    @include font($size: 1.2rem, $height: 1.6rem, $weight: 500);
    color: $color-text-placeholder;
    margin-bottom: 16px;
    max-width: 416px;

    @include media-tablet-small {
      max-width: 300px;
    }
    @include media-mobile {
      max-width: 256px;
    }
  }
}

.registration {

  &__form {
    background-color: $color-light;
    border-radius: 16px;
    padding: 48px 56px;
    margin-top: 46px;
    display: flex;
    flex-direction: column;

    @include media-tablet-small {
      padding: 30px 35px;
    }

    @include media-mobile {
      padding: 24px 16px;
      margin-top: 12px;
    }
  }

  &__title {
    color: $color-text;
    @include font($size: 2.4rem, $height: 3rem, $weight: 700);

    @include media-tablet-small {
      max-width: 300px;
    }
    @include media-mobile {
      max-width: 256px;
    }
  }

  &__title-block {
    margin-bottom: 32px;
  }

  &__steps {
    color: $color-text;
    @include font($size: 1.4rem, $height: 1.8rem, $weight: 600);
    margin-top: 8px;
  }

  &__question {
    display: flex;
    align-items: center;
    margin-top: 16px;
    max-width: 416px;

    @include media-tablet-small {
      max-width: 300px;
      flex-wrap: wrap;
    }
    @include media-mobile {
      max-width: 256px;
    }

    >:first-child {
      @include font($size: 1.6rem, $height: 2.4rem);
      color: $color-text-additional;
      margin-right: 16px;

      @include media-mobile {
        @include font($size: 1.5rem, $height: 2.0rem)
      }
    }

  }

  &__sign-in-button {
    @include font($size: 1.2rem, $height: 1.8rem, $weight: 600);
    color: $color-text;
    text-transform: uppercase;

    display: flex;
    align-items: center;

    >:last-child {
      margin-left: 12px;
    }
  }
}


.form__sign-in-link {
  background: #F9F9FA;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  align-items: center;
  padding: 20px 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  >:first-child {
    margin-right: 12px;
  }

  >:last-child {
    @include font($size: 1.2rem, $height:1.8rem, $weight: 600);
    text-transform: uppercase;
    color: $color-text-additional;
  }
}


.forgot-password-form {
  position: relative;
  padding-top: 96px;
}
