$color-light:  #FFFFFF;
$color-accent: #FF5253;

$color-button-primary: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
$color-button-hover: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
$color-button-pressed: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
$button-disabled: #F9F9FA;
$button-border: #BFC4C9;

$color-background-auth: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);

$color-logo: #6E76F1;

$color-hamburger: #363636;
$color-hamburger-active: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);

$color-text: #363636;
$color-text-additional: #727272;
$color-text-placeholder: #A7A7A7;

$color-navigation-active: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
$color-navigation-hover: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);


$content-width: 1050px;
$tablet-width: 768px;
$tablet-small-width: 720px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
