.header {

  padding-top: 32px;
  padding-bottom: 24px;

  @include media-tablet {
    padding-bottom: 22px;
  }
  @include media-mobile {
    padding-top: 24px;
    padding-bottom: 24px;
  }

}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: $color-text;
}

.header__logo {

  >:first-child {
    margin-right: 8px;
  }

  @include media-laptop {
    display: none;
  }
}

.header__person {
  position:relative;
  display: flex;
  align-items: center;

  >:first-child {
    margin-right: 16px;
  }

  @include media-tablet {
    display: none;
  }
}


.header__burger-navigation {
  display: none;

  @include media-laptop {
    display: block;
  }
}

.person__functions {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: $color-light;
  box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
  border-radius: 0px 0px 10px 10px;
  padding: 32px 24px;

  >* {
    width: 222px;
    text-align: right;
    color: $color-text;
    @include font($size: 1.8rem, $height: 2.8rem, $weight: 700);
  }

  >:first-child {
    margin-bottom: 32px;
  }

  >:last-child {
    cursor: pointer;
  }
}

.shadow {
  box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
}
