@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(54, 54, 54, 0.3); 
  backdrop-filter: blur(10px);

  &__icon {
    animation: spinner 1s linear infinite;
  }

}