.person {

}

.person__name {
  @include font($weight: 600);
  color: $color-text;
}

.person__picture {
  background-image: url('../../img/profile/avatar.jfif');
  background-size: cover;
  background-position: center;
  height: 58px;
  width: 58px;
  border-radius: 150px;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
}